.card {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  gap: 0.8rem;
  padding: 1.5rem;
  border: #68a7c3 2px solid;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.card-icon {
  color: #68a7c3;
  font-size: 8rem;
  text-align: center;
}

.card-title {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  font-weight: 800;
}

.card-list {
  color: #9ca3af;
}

.card-list li {
  margin: 0.6rem 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.card:hover {
  transform: scale(1.05);
}
