.device-info-features {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  margin: 2rem 2rem;
}

.device-info-heading {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.device-info-features-content {
  line-height: 28px;
  letter-spacing: 0.6px;
  font-size: 1.1rem;
}

/* cards */
/* credits : https://codepen.io/keithaul */

.front {
  /* background-color: #282828; */
  color: white;
  background-image: linear-gradient(180deg, #171137, #1f1f1f);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 1rem;
}

.front .icon-holder {
  font-size: 3.5rem;
}

.front h2 {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.maincontainer {
  width: 250px;
  height: 240px;
  margin: 10px;
  float: left;
}

.back {
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 30px;
  letter-spacing: 1px;
}

.maincontainer > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 250px;
  height: 240px;
  backface-visibility: hidden;
  transition: transform 0.6s linear 0s;
}

.maincontainer > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  /* background: #244a5a; */
  background-image: linear-gradient(180deg, #171137, #1f1f1f);
  color: white;
  width: 250px;
  height: 240px;
  border-radius: 10px;
  padding: 15px;
  backface-visibility: hidden;
  transition: transform 0.6s linear 0s;
  text-align: center;
}

.maincontainer:hover {
  cursor: pointer;
}

.maincontainer:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* credits : https://codepen.io/keithaul */
/* cards */

.device-info-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.youtube-video {
  width: 80%;
  height: 400px;
}

.device-info-features-button {
  /* background-color: #ff6161; */
  background-image: linear-gradient(180deg, #171137, #1f1f1f);
  color: whitesmoke;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.device-info-features-button:hover {
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .device-info-cards-container {
    grid-template-columns: 1fr;
    gap: 0.25rem;
  }

  .youtube-video {
    width: 300px;
    height: 200px;
  }
}
